{% extends 'blogs/base.html' %}
{% block content %}

<div class="blog-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3> {{title}} </h3>
        </div>
        {% if blogset %}
            {% for blog in blogset %}
                <div class="col-sm-8">
                    <div class="thumbnail">
                        <a href="{{blog.get_absolute_url}}">
                            <img src="{{blog.image_url}}" class="img-responsive"/>
                        </a>
                        <div class="caption">
                            <h3><a href="#">{{blog.title}}</a><small> {{blog.timeposted}}</small></h3>
                            <p>{{blog.content | linebreaks}}</p>
                            <p><a href="{{blog.get_absolute_url}}" class="btn btn-primary" role="button">View Details</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br/>
                <a href="{% url 'blogs:create' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Create a Blog
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

<div class="pagination">
    <span class="step-links">
        {% if blogset.has_previous %}
            <a href="?{{page_request_var}}={{ blogset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blogset.number }} of {{ blogset.paginator.num_pages }}.
        </span>

        {% if blogset.has_next %}
            <a href="?{{page_request_var}}={{ blogset.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>



</div>
{% endblock content %}