{% extends 'blogs/base.html' %}
{% block content %}

<div class="blog-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3> {{title}} </h3>
        </div>
        {% if blogset %}
            {% for blog in blogset %}
                <div class="col-sm-8">
                    <div class="thumbnail">
                        <h2><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h2>
                        <p>Posted by {{blog.user}}: {{blog.timeposted}}</p>
                        <div class="col-sm-3">
                            <a href="{{blog.get_absolute_url}}">
                                <img src="{{blog.image_url}}" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="caption">
                            <p>{{blog.content | linebreaks | truncatechars:120 }}</p>
                            <p><a href="{{blog.get_absolute_url}}" class="btn btn-primary" role="button">READ MORE</a></p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br/>
                <a href="{% url 'blogs:create' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Create a Blog
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

<div class="pagination">
    <span class="step-links">
        {% if blogset.has_previous %}
            <a href="?{{page_request_var}}={{ blogset.previous_page_number }} {% if request.GET.q %} & q={{request.GET.q}} {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blogset.number }} of {{ blogset.paginator.num_pages }}.
        </span>

        {% if blogset.has_next %}
            <a href="?{{page_request_var}}={{ blogset.next_page_number }} {% if request.GET.q %} & q={{request.GET.q}} {% endif %}">next</a>
        {% endif %}
    </span>
</div>



</div>
{% endblock content %}